<div class="l-middle dissertation-wrapper">

    <div class="dissertation-cover">
        <a href="../dissertation.pdf" target="_blank" rel="noopener noreferrer">
            <img src="../images/papers/dissertation_title.jpg">
        </a>
    </div>

    <div class="dissertation-info">
        <div>
            <p><b>Risk of medical events for falls, fractures, confusion, and delirium for patients with filled prescriptions for drugs listed on Beers Criteria compared to well-matched controls.</b></p>
            <p>Max Saber</p>
            <p><i>Dissertation, Medical University of South Carolina, 2020.</i></p>
            <hr style="margin: 0.5rem 0rem">
            <p class="document-metadata">128 pages. 6.7 MB.</p>
            <!--<p class="cv-award"><i class="fas fa-trophy" aria-hidden="true"></i> ACM SIGCHI Dissertation Award</p>-->
        </div>

    </div>

</div>