<hr />
  <div id="blog-author-wrapper">
    <div class="blog-author col1">
      {% include person-image.html person='Max Saber' %}
      {% include person.html person='Max Saber' %}
    </div>
    <div class="blog-author col2">
      Max Saber is the Director of Enterprise Applications at MCPHS University with a passion for new and developing healthcare technology. Posts made on this blog are his own personal opinions, and do not reflect the opinions of MCPHS University, or any other organization he is affiliated with.
    </div>
  </div>
<hr />