<footer>
	<div id="footer-left">
		<a href="mailto:max@maxsaber.com"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.linkedin.com/in/maxsaber"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/maxsaber"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Max Saber
	</div>
	<div id="footer-right">
		Fred Hohman is a Research Scientist at Apple creating interactive interfaces and data visualizations for machine learning.
	</div>
</footer>
