<footer>
	<div id="footer-left">
		<a href="mailto:max@maxsaber.com"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i><span class="sr-only">Email</span></a>
		<a href="http://www.linkedin.com/in/maxsaber" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/maxsaber" target="_blank" rel="noopener noreferrer" aria-label="GitHub"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?hl=en&user=oZ4ePLwAAAAJ" target="_blank" rel="noopener noreferrer"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i><span class="sr-only">Google Scholar</span></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Max Saber
	</div>
	<div id="footer-right">
		Max Saber is the Director of Enterprise Applications & Development at MCPHS University with a passion for new and developing healthcare technology.
	</div>

	<script type="text/javascript" src="/js/lightbox.js"></script>
	<link rel="stylesheet" href="/styles.css">
</footer>
