<head>
  <meta charset="utf-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <link href="https://fonts.googleapis.com/css?family=Gaegu:300,700" rel="stylesheet">

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Share card -->
  <meta property="og:url" content="https://maxsaber.com/" />
  <meta property="og:title" content="Max Saber" />
  <meta property="og:description" content="" />
  
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} — {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <script src="https://kit.fontawesome.com/59907be8d0.js" crossorigin="anonymous"></script>
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=xQdLjRyXLj">
  <link rel="icon" type="image/png" sizes="16x16" rel="icon" href="/icons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" rel="icon" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" rel="icon" href="/icons/favicon-96x96.png">
  <link rel="manifest" href="/icons/site.webmanifest?v=xQdLjRyXLj">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=xQdLjRyXLj" color="#313131">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#313131">
  <meta name="msapplication-config" content="/icons/browserconfig.xml?v=xQdLjRyXLj">
  <meta name="theme-color" content="#ffffff">

  <!-- Feed -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JB5BFVF5QL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JB5BFVF5QL');
</script>

</head>
