<div class="cv-left-date">{{ ce.date }}</div>
{% if ce.provider %}
<div>
  {{ ce.course-name }}, ({{ ce.school }}, {{ ce.provider }})
</div>
{% else %}
<div>{{ ce.course-name }}, ({{ ce.school }})</div>
{% endif %}
<div class="pub-misc">
  {% if ce.cert-link %}
  <a href="{{ ce.cert-link }}">
    <i class="fas fa-certificate" aria-hidden="true"></i> Certificate
  </a>
  {% endif %} {% if ce.course-link %}
  <a href="{{ ce.course-link }}">
    <i class="fas fa-globe" aria-hidden="true"></i> Course Link
  </a>
  {% endif %}
</div>
