<div id="everything-else" class="l-middle">
    <a href="{{ site.url }}/cv#academia"><div>Academia</div></a>
	<a href="{{ site.url }}/cv#research"><div>Research</div></a>
    <a href="{{ site.url }}/cv#industry"><div>Industry</div></a>
	<a href="{{ site.url }}/cv#teaching"><div>Teaching</div></a>
	<a href="{{ site.url }}/cv#publications"><div>Publications</div></a>
</div>
<div id="everything-else" class="l-middle">
    <a href="{{ site.url }}/cv#invited-presentations"><div>Presentations</div></a>
	<a href="{{ site.url }}/cv#professional-certifications-and-licensures"><div>Certifications</div></a>
	<a href="{{ site.url }}/cv#honors-and-awards"><div>Honors</div></a>
	<a href="{{ site.url }}/cv#press"><div>Engagement</div></a>
	<a href="{{ site.url }}/cv#skills"><div>Skills</div></a>
</div>