<div class="cv-left-date">{{ degree.years }} {{ degree.years-extra }}</div>
<b>{{ degree.degree }}</b>
{% if degree.description %}
	<div class="cv-description">
		{% for item in degree.description %}
			{{ item }}
		{% endfor %}
	</div>
{% endif %}
<div><a href="{{ degree.institution-url }}">{{ degree.institution }}</a>, {{ degree.location }}</div>

{% if degree.dissertation %}
	<div class="cv-description">
		Dissertation: <a href="{{ degree.dissertation-link }}"><i>{{ degree.dissertation }}</i></a>
	</div>
{% endif %}

{% if degree.thesis %}
	<div class="cv-description">
		Thesis: <a href="{{ degree.thesis-link }}"><i>{{ degree.thesis }}</i></a>
	</div>
{% endif %}

{% if degree.research %}
	<div class="cv-description">
		Independent Research: <a href="{{ degree.research-link }}"><i>{{ degree.research }}</i></a>
	</div>
{% endif %}

{% if degree.advisor %}
	<div class="cv-description">
		Advisor: {% include person.html person=degree.advisor %}
	</div>
{% endif %}

{% if degree.committee %}
	<div class="cv-description">
		Committee:
		{% for person in degree.committee %}
			{% if forloop.last == false %}
				{% include person.html person=person %}{% for p in pub.equal-contribution %}{% if person == p %}{% endif %}{% endfor %},
			{% else if forloop.last == true %}
				{% include person.html person=person %}{% for p in pub.equal-contribution %}{% if person == p %}{% endif %}{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
	
{% if degree.awards %}
	{% for award in degree.awards %}
		<span class="cv-award"><i class="fas fa-trophy" aria-hidden="true"></i> {{ award }}</span>
	{% endfor %}
{% endif %}

<div class="pub-misc">
	{% if degree.dissertation-link %}
		<a href="{{ degree.dissertation-link }}">
			<i class="fas fa-link" aria-hidden="true"></i> Dissertation Project Page
		</a>
	{% endif %}
	
	{% if degree.dissertation-pdf %}
		<a href="{{ degree.dissertation-pdf }}">
			<i class="fas fa-file-pdf" aria-hidden="true"></i> Dissertation Text
		</a>
	{% endif %}

	{% if degree.dissertation-video %}
		<a href="{{ degree.dissertation-video }}">
			<i class="fas fa-video" aria-hidden="true"></i> Dissertation Recording
		</a>
	{% endif %}

	{% if degree.thesis-link %}
		<a href="{{ degree.thesis-link }}">
			<i class="fas fa-link" aria-hidden="true"></i> Thesis Project Page
		</a>
	{% endif %}
	
	{% if degree.thesis-pdf %}
		<a href="{{ degree.thesis-pdf }}">
			<i class="fas fa-file-pdf" aria-hidden="true"></i> Thesis Text
		</a>
	{% endif %}

	{% if degree.thesis-video %}
		<a href="{{ degree.thesis-video }}">
			<i class="fas fa-video" aria-hidden="true"></i> Thesis Recording
		</a>
	{% endif %}

	{% if degree.research-link %}
		<a href="{{ degree.research-link }}">
			<i class="fas fa-link" aria-hidden="true"></i> Research Project Page
		</a>
	{% endif %}
	
	{% if degree.thesis-pdf %}
		<a href="{{ degree.research-pdf }}">
			<i class="fas fa-file-pdf" aria-hidden="true"></i> Research Text
		</a>
	{% endif %}

	{% if degree.thesis-video %}
		<a href="{{ degree.research-video }}">
			<i class="fas fa-video" aria-hidden="true"></i> Research Recording
		</a>
	{% endif %}
</div>

<div class="cv-spacer"></div>
