<div class="cv-left-date">{{ press.month }} {{ press.year }}</div>
<div><b>"{{ press.title }}"</b>, p.{{ press.page}}</div>
<div><i>{{ press.pub-title }}</i>, {{ press.publisher }}</div>

<div class="pub-misc">
    {% if press.pub-pdf %}
    <a href="{{ press.pub-pdf }}">
        <i class="fas fa-file-pdf" aria-hidden="true"></i> Publication
    </a>
    {% endif %}
    {% if press.link %}
    <a href="{{ press.link }}" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-link" aria-hidden="true"></i> Weblink
    </a>
{% endif %}
</div>

<div class="cv-spacer-small"></div>