<div class="cv-left-date">{{ teach.year-short }}</div>
<details>
    <summary>{{ teach.class }} →</summary>
    <div class="cv-description">
        {{ teach.description }}
        </div>
</details>

<!--
<div>{{ teach.class }}</div>
<div>{{ teach.position }}</div>
<div><i><a href="{{ teach.institution-url }}">{{ teach.institution }}</a>, {{ teach.location }}</i></div>

<div class="cv-description">
    <details>
        <summary>Course Description →</summary>
            {{ teach.description }}
    </details>
</div>  -->

<div class="pub-misc">
    {% if teach.course-info %}
    <a href="{{ teach.course-info }}">
        <i class="fas fa-link" aria-hidden="true"></i> Course Information
    </a>
    {% endif %}
    {% if teach.syllabus-pdf %}
    <a href="{{ teach.syllabus-pdf }}" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-file-pdf" aria-hidden="true"></i> Sample Syllabus
    </a>
    {% endif %}
</div>

<div class="cv-spacer"></div>