---
layout: default
---

<!-- <article class="post"> -->
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.man-date %} <div id="post-date">{{ page.man-date }}</div>{% else %}<time datetime="{{ page.date | date: "%B %-d, %Y" }}" class="post-date">{{ page.date | date: "%B %-d, %Y" }}</time> {% endif %}
  {% include breadcrumbs.html %}
  {{ content }}

  <hr />
  <div id="blog-author-wrapper">
    {% for person in page.author %}
      <div class="blog-author col1">
        {% include person-image.html person=person %}
        {% include person.html person=person %}
        {% endfor %}
      </div>
      <div class="blog-author col2">
        Max Saber is a healthcare information systems engineer at MCPHS University with a passion for new and developing healthcare technology. Posts made on this blog are his own personal opinions, and do not reflect the opinions of MCPHS University, or any other organization he is affiliated with.
      </div>
  </div>
  <hr />

  <h2>Comments</h2>
  <div id="commento"></div>
  <script defer src="https://commento.maxsaber.com/js/commento.js"></script>
  <!-- </article> -->

<hr class="l-middle home-hr">
<div id="everything-else" class="l-middle">
  <a href="{{ site.url }}/cv"><div>CV</div></a>
	<a href="{{ site.url }}/projects"><div>Projects</div></a>
	<a href="{{ site.url }}/bio"><div>Bio</div></a>
	<a href="{{ site.url }}/blog"><div>Blog</div></a>
	<a href="{{ site.url }}/archive"><div>Archive</div></a>
</div>