<div class="l-middle dissertation-wrapper">

    <div class="dissertation-cover">
        <a href="../thesis.pdf" target="_blank">
            <img src="../images/papers/thesis_title.jpg">
        </a>
    </div>

    <div class="dissertation-info">
        <div>
            <p><b>Implementing a simulated electronic medical record system for undergraduate and graduate interprofessional healthcare education.</b></p>
            <p>Max Saber</p>
            <p><i>Thesis Capstone, Northeastern University, 2014.</i></p>
            <hr style="margin: 0.5rem 0rem">
            <p class="document-metadata">18 pages. 1 MB.</p>
            <!--<p class="cv-award"><i class="fas fa-trophy" aria-hidden="true"></i> ACM SIGCHI Dissertation Award</p>-->
        </div>

    </div>

</div>